@media only screen and (min-width: 64rem) {
   
    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #cards img{
        height: 300px;
        transition: transform 0.3s ease, filter 0.3s ease;
        
    }
    
}

/*end media query
