@media only screen and (min-width: 38rem) {
    article {
            grid-template-columns: 3fr 2fr;
            grid-template-areas:
                "image title"
                "image address"
                "image description"
                "image button";
            gap: 1rem;
            align-items: start;
    }
}   

/*end media query