body {
    font-family: Roboto, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 1rem 0;
    text-shadow: 0 0 30px #111;
}
.site-footer {
    display: flex;
    justify-content: space-between;
    /* Distributes space between sections */
    background-color: #eee;
    color: black;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    /* Ensures padding is included in width calculation */
}


.footer-section {
    flex: 1;
    /* Makes each section take up equal width */
    padding: 0 15px;
    /* Adds space between sections */
}

.footer-section p {
    color: var(--primary-color);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;
}

.footer-section address,
.footer-section ul {
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

/* Optional: Add basic responsiveness */
@media (max-width: 768px) {
    .site-footer {
        flex-direction: column;
        /* Stacks sections vertically on smaller screens */
    }

    .footer-section {
        padding: 10px 0;
    }
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid #ccc 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: lightblue;
}