/* medium.css */
.section {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.left-section {
    background-color: #eee;
    color: black;
}

.left-section p {
    text-align: center;
    padding: 2px;
    margin: 2px;
}

.right-section {
    background-color: #ddd;
    color: black;
}