h1{
    text-align: center;
    color: #999;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 10px;
    /* 👈 space between sections */
}
.container h2{
    text-align: center;
}
.left-section {
    background-color: #eee;
    color: black;
}

.left-section p {
    text-align: center;
    padding: 2px;
    margin: 2px;
    align-items: first baseline;
}

.right-section {
    background-color: #ddd;
    color: black;
}
.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--bg-color);
    text-align: center;
}

.menu button {
    padding: 0.5rem 1rem;
    margin: 0;
    font-weight: 700;
}

.menu section {
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0.5rem;
    background-color: #ddd;
}

.menu section a {
    color: navy;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;

}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
}