
h1{
    color: black;
    text-align: center;
}
.card{
    border: solid 1px black;
    background-color: lightskyblue;
    border-radius: 10px;
    text-align: center;
}

.card h2{
    color:green;
    margin: .3rem 0;

}
.card #description{
    text-transform: capitalize;
    color: green;
    margin: .3rem 0;
}
.card #temperature{
    font-size: 2rem;
    color: green;
    margin: .3rem 0;
}
footer{
    color: black;
    text-align: center;
}