@media only screen and (min-width: 38rem) {

    header,
    main,
    nav {
        max-width: 900px;
        margin: 0 auto;
    }


    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

}
/* larger/wider views **************************/
@media (min-width: 640px) {
    nav {
        display: flex;
    }

    nav a {
        flex: 1 0 auto;
        /* flex: [flex-grow] [flex-shrink] [flex-basis]; 
		in this example, the items will not shrink but can grow to fill the space at natural content width*/

}}
