*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 3px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2em;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 3em;
}
h1 {
    background-color: #ddd;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: start;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}


nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-section .right-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}
h2{
    text-align: center;
    background-color: #ddd;
}
footer nav{
    background-color: whitesmoke;

}
.socialmedia a img {
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
}