
*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd ;
    column-gap: 8px;
}
header img{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}
header span{
    font-size: 1.2rem;
    color: black;
}
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger::after{
    content: "\2630";
    font-size: 2em;
}
.hamburger.show::after {
    content: "\00D7";
    font-size: 3em;
}