* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2em;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 3em;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation a:hover{
    background-color: orange;
}
.navigation li.current{
    background-color: #eee;
}

h1{
    margin-left: 10px;
}

footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid #ccc 1px;
    border-radius: 22px;
}
.social img{
    width: 22px;
    height: 22px;
}
.social a:hover{
    background-color: lightblue;
}